*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
.heading {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(240, 128, 128);
    width: 100%;

}
.menu {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 490px;
}
.btn {
    padding: 5px;
    margin-right:15px;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(136, 223, 226);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(201, 238, 101);
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rowitems{
    display: flex;
    margin-left: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:aquamarine;
    margin:50px;
    width: 320px;
    height: 400px;
}
.imageall{
    background-color:aquamarine ;
}
img{
    height:30vh;
    width: 15vw;
}
h2 {
    font-size:20px;
    background-color:aquamarine;
}
h3 {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 85px;
    background-color:aquamarine;
}
.info {
    margin: 5px;
    padding: 5px;
    background-color:aquamarine;
}
p {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:aquamarine;
}
.priceinfo{
    display: inline-flex;
    margin-top: 15px;
    background-color:aquamarine;
}
.orderbtn{
    margin-left: 60px;
    padding:2px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(221, 194, 199);
    cursor: pointer;
}
a {
    background-color:aquamarine;
}